html {
    font-family: 'JOsefin Sans';
    /* background-image: url(img/2.jpeg) ;
    background-size: cover; */
}

header {

height: 10vh;
padding:1rem;

}
 

#start {
    color:olive;
    font-family: 'lobster';
    font-weight: 400;
}

#end {
    color:;
    font-family: 'lobster';
    font-weight: 400;
}
#introduction {

  font-size:1.3rem;
  padding:1rem;
  height:20rem;

}

#form{
text-align:center;
 color:white;
    padding:1rem;
    background-image: url(img/1.\ Vector\ Illustration);

}
 form {
     border:  solid 1px white;
    width:40%;
    margin-left: 30%;
 color: black;
     background-color: white;
     padding:1rem;
 }


 button {
     padding:1rem;
     font-family: 'josefin sans';
     font-size: 1rem;
 }
footer {
background-color: black;
color: white;
padding: 1rem;
text-align: center

}