html {
    font-family: 'JOsefin Sans';
    /* background-image: url(img/2.jpeg) ;
    background-size: cover; */
}

header {
background-image: url(img/3.\ jpeg);
height: 10vh;
padding:1rem;

}
 
#deets {
    font-size: 1.2rem;
}
#start {
    color:olive;
    font-family: 'lobster';
    font-weight: 400;
}

#end {
    color:;
    font-family: 'lobster';
    font-weight: 400;
}
#introduction {
  
  font-size:1.3rem;
  padding:1rem;
  height:15rem;
  background-color: black;
  color: white;

}

.names
{

    font-size: 1.7rem;
    display: flex;
    color:whitesmoke;
    justify-content: space-evenly;
    height:20rem;
    background-color:black;
}
#form{
text-align:center;
 color: rgb(205, 138, 50);
    padding:1rem;
    background-image: url(img/1.\ Vector\ Illustration);
 font-size:1.3rem;
}
 form {
     border:  solid 1px;
    width:40%;
    margin-left: 30%;
 color: black;
     background-color: rgba(251, 252, 248, 0.568);
     padding:1rem;
     font-size:1.5rem;
 }


 button {
     padding:1rem;
     font-family: 'josefin sans';
     font-size: 1rem;
 }
footer {
   
font-size :1.2em;
background-color: black;
color: white;
padding: 1rem;
text-align: center


}